/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
html{
	overflow: hidden;
}

h1 {
	font-family: 'Lobster', serif;
	font-size: 2em;
	text-align: center;
}

.strip {
	background-color: rgb(192, 192, 192);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-size: 50px 50px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}