<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.google.gwt.faintynmm.server.LoginServiceImpl
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>gameServlet</servlet-name>
		<servlet-class>com.google.gwt.faintynmm.server.GameServiceImpl
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>channelConnectServlet</servlet-name>
		<servlet-class>com.google.gwt.faintynmm.server.ChannelConnectServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>channelDisconnectServlet</servlet-name>
		<servlet-class>com.google.gwt.faintynmm.server.ChannelDisconnectServlet
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>xsrf</servlet-name>
		<servlet-class>
			com.google.gwt.user.server.rpc.XsrfTokenServiceServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/faintynmm/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>gameServlet</servlet-name>
		<url-pattern>/faintynmm/game</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>channelConnectServlet</servlet-name>
		<url-pattern>/_ah/channel/connected/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>channelDisconnectServlet</servlet-name>
		<url-pattern>/_ah/channel/disconnected/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>xsrf</servlet-name>
		<url-pattern>/faintynmm/xsrf</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>fainty-nmm.html</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>gwt.xsrf.session_cookie_name</param-name>
		<param-value>JSESSIONID</param-value>
	</context-param>
</web-app>
